* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: absolute;
    background-color: #050a13;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

#index img {
    width: 82vw;
    height: 23vh;
    justify-content: center;
    position: relative;
}

main{
    margin-top: 5rem;
    margin-bottom: 7rem;
    display: grid;
    grid-template-rows: 0fr, 0fr;
    row-gap: 4rem;
    text-align: center;
    justify-content: center;
}

main a{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: none;
    color: rgb(99, 12, 12);
    transition: color 0.2s ease-in-out;
}

main a:hover{
    color: rgb(143, 15, 15);
}

button{
    padding: 1.5rem;
    background-color: rgba(209, 182, 155, 0.81);
    color: rgb(35, 31, 25);
    border: 2px solid rgb(100, 0, 8);
    border-radius: 20px;
    transition: background-color 0.2s ease-in-out;
}

button:hover{
    background-color: rgb(244, 211, 177);
}


footer{
    padding: 2rem;
    bottom: 0;
    width: 100vw;
    height: 10%;
    background-color: rgb(100, 0, 8);
    position: relative;
}

footer h2 {
    color: white;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 0;
    padding-left: 0;
}

@media screen and (min-width: 1000px) {
    #index img {
            width: 50vw;
            height: 47vh;
            justify-content: center;
            position: relative;
        }

}

@media screen and (min-width: 1800px) {
    #index img{
        width: 41vw;
        height: 25vh;
    }
}