*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:link {
    transition: opacity 0.5s;
    padding-left: 2px;
}

nav{
    background-color: #002205;
    height: 80px;
    align-content: center;
}

nav, a{
    color: white;
    opacity: 0.6;
    padding-top: 7px;
    padding-left: 10px;
    font-size: large;
}

nav, a:hover{
    color: white;
    opacity: 1;
}


body{
    background-color: #b0c8b3e3;
}

h4{
    font-size: 30px;
    padding-left: 15px;
    margin-top: 10px;
    
}

p{
    font-size: 18px;
    padding-left: 15px;
    margin-top: 5px;
    color: black;
}

img{
    width: 250px;
    height: auto;
    border-radius: 30px;
    margin-top: 20px;
}

#cat{
    animation-name: movingAround;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes movingAround{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(1000px);
    }
    50%{
        transform: rotateX(180deg) translateY(-200px);
    }

    100%{
        transform: translateX(0px);
    }
}