* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(45, 11, 107);
    font-family: Montserrat Alternates;
    background-image: url(./imgs/motiongraphics\(background\).webp);
    /*https: //www.w3schools.com/cssref/pr_background-position.php*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

h1 {
    margin-top: 60px;
    font-size: 80px;
    text-align: center;
    color: white;
}

#grid {
    display: grid;
    grid-template-rows: 0fr 0fr 1fr;
    row-gap: 40px;
    justify-self: center;
    margin-top: 65px;
    margin-bottom: 85px;
}

#grid a {
    justify-self: center;
    align-self: center;
    font-size: 50px;
    text-decoration: none;

}

a:hover {
    color: #ffffff;
}


iframe {
    width: 500px;
    height: 300px;
    box-shadow: 10px 10px 15px #50437b6d;
}

img {
    width: 500px;
    height: auto;
}

footer {
    /*https: //stackoverflow.com/questions/13609006/floating-footer-always-on-the-bottom-and-visible*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.908);
}

#navigation {
    position: absolute;
    display: grid;
    grid-template-columns: 78px 1fr 1fr 1fr 78px;
    column-gap: 20px;
    place-self: anchor-center;
    justify-items: center;
    justify-content: space-evenly;


}

#navigation figure {
    position: relative;
    justify-items: center;
}

#navigation a {
    font-weight: 600;
    text-decoration: none;
    color: #5231BE;
    opacity: 0.5;
    transition: opacity 0.6s;
    font-size: 25px;
}

#navigation a:hover {
    opacity: 1;

}