* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat Alternates;
    background-image: url(./imgs/semester1.webp);
    /*https: //www.w3schools.com/cssref/pr_background-position.php*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

#assignments{
    justify-self: center;
    position: absolute;
    margin: 50px;
    margin-top: 90px;
}

#grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 40px;
    justify-items: center;
    position: relative;
}

header{
    margin-top: 90px;
}

h1{
    font-size: 80px;
    text-align: center;
    color: white;
}

#grid figure{
    background-color: white;
    height: 60px;
    width: 300px;
    transition: box-shadow 0.6s;
    border: 4px solid #4076b395;
    border-style: outset;
    /*border-image: linear-gradient(to right, #D5CDF0, #6B66B5 100%);*/
    
}

#grid figure:hover{
    box-shadow: 6px 6px 7.4px -1px #35669e inset;
    border-style: inset;
}

#grid p{
    text-align: center;
    margin-top: 16px;
    font-weight: 500;
    opacity: 0.6;
    transition: opacity 1.5s;
    transition: transform 0.6s;
    font-size: 17px;
    color: #4075b3;
}

#grid figure:hover p{
    transform: translateX(4px) translateY(2px);
    opacity: 0.8;
}

#grid a{
    text-decoration: none;
}

.one {
    border-radius: 80px 0px 20px 0px;
}

.two {
    border-radius: 20px 0px 80px 0px;
}

.three {
    border-radius: 0px 80px 0px 20px;
}

.four {
    border-radius: 0px 20px 0px 80px;
}

.five {
    border-radius: 0px 80px 0px 20px;
}

.six {
    border-radius: 0px 20px 0px 80px;
}

.seven {
    border-radius: 80px 0px 20px 0px;
}

.eight {
    border-radius: 20px 0px 80px 0px;
}

footer{
    /*https: //stackoverflow.com/questions/13609006/floating-footer-always-on-the-bottom-and-visible*/
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.555);
}

#navigation{
    position: absolute;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr;
    column-gap: 20px;
    place-self: anchor-center;
    justify-items: center;
    justify-content: space-evenly;

    
}

#navigation figure{
    position: relative;
    justify-items: center;
}

#navigation a{
    font-weight: 600;
    text-decoration: none;
    color: #4075b3;
    opacity: 0.5;
    transition: opacity 0.6s;
}

#navigation a:hover{
    opacity: 1;
    
}

@media screen and (min-width: 730px) {
    #grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 40px;
        column-gap: 40px;
    }
}

@media screen and (min-width: 1200px){

    #grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        row-gap: 40px;
        column-gap: 40px;
        
    }
}


@media screen and (min-width: 1400px){
    #grid{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      row-gap: 40px;
      column-gap: 40px;
  
    }
    
}

@media screen and (min-width: 2000px){
    #grid figure{
        height: 70px;
        width: 400px;
        /*border-image: linear-gradient(to right, #D5CDF0, #6B66B5 100%);*/
    }

    h1{
        margin-top: 120px;
        font-size: 95px;
    }

    #grid p{
        font-size: 22px;
    }

    footer{
        height: 90px;
    }

    #navigation a{
        font-size: 22px;

    }

    #navigation{

        grid-template-columns: 55px 1fr 1fr 1fr;
        column-gap: 40px;
        
    }

}
