* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   font-family: "Quicksand", sans-serif;
   
}

header{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#grille{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: center;
    width: 500px;
    height: 500px;
    
}

.case{
    display: grid;
    place-items: center;
    font-size: 3rem;
    font-weight: 900;
    background-size: contain;
    background-repeat: no-repeat;
}

div{
    place-items: center;
}

#grille div{
    border: 2px solid rgb(0, 0, 0);
}

#message{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#message img{
    max-width: 60px;
}

button{
    display: block;
    justify-content: center;
}