* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 100px;
    margin-top: 50px;
   
}
#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: center;
    width: 500px;
    height: 500px
    
}

#grid figure{
    text-align: center;
    border: 2px solid blue;
    
}
