* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e2e3ea;
}

h1 {
    margin: 5px;
    color: #22232e;
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 15px;
    padding-top: 10px;
    text-shadow: 2px 2px 10px white;
}

.title {
    padding: 10px;
    text-align: left;
    background: #a6a9bd;
    margin: 0;
    border-radius: 20px;
    text-align: center;
}

iframe{
    margin-top: 20px;
}
